@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
  display: flex;
  background-color: rgba(44, 44, 44);
  margin-bottom: 5vh;
  color: White;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid #00000080;
  justify-content: space-between;
  align-items: center;
}

.navbar .leftSide {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 15px;
}

.navbar .leftSide h1{
  font-size: 20px;
  margin-left: 10px;
}

.navbar .leftSide .logo{
  font-size: 20px;
}

.navbar .center{
  display: flex;
  align-items: center;
  transition: .20s;
  gap: 15px;
}
.navbar .center input[type="submit"]{
  font-family: "Poppins", sans-serif;
  background-color: transparent;
  padding: 25px;
  color: white;
  border: none;
  font-size: 20px;
}

.navbar .center:hover{
  transition: .20s;
  background-color: #444444;
}

.navbar .center:active{
  background-color: azure;
  color: black;
}

.navbar .center .logo{
  position: relative;
  left: -15px;
  text-align: center;
  font-size: 20px;
}